body {
  font-family: Arial, sans-serif;
  background-color: #708090;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  color: white;
}

h1 {
  font-size: 3em;
  margin: 0;
  font-family: Georgia, serif;
}

.login-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px auto;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #555;
}

.login-box a {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
  color: #333;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.sobrenos{
  
    position: absolute; /* Necessário para controlar a posição com 'top' e 'right' */
    top: 10px;            /* Define a distância do topo */
    right: 10px;          /* Define a distância da direita */
  
  color : #fff;

}