{% load django_browser_reload %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webknowledge - Professores</title>
    <link rel="stylesheet" href="{% static 'homealuno.css' %}">

</head>
<body>
    <header>
        <h1>Webknowledge <img src={% static 'icone2.png' %} alt="logo" width="30"></h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">Minha Conta</a>
            <a href="/">Sair</a>
        </nav>
    </header>
    <main>
        <h2>Bem-vindo, Aluno!</h2>
        <p>Escolha um dos templates de professores para começar o seu aprendizado:</p>
        
        <div class="templates">
            <div class="template">
                <img src={% static 'sandrocurio.jpg' %} alt="Professor 1">
                <h3>Professor João Silva</h3>
                <p>Especialista em Matemática</p>
                <button>Ver Aulas</button>
            </div>
            <div class="template">
                <img src={% static 'sandrocurio.jpg' %} alt="Professor 2">
                <h3>Professora Maria Santos</h3>
                <p>Especialista em Física</p>
                <button>Ver Aulas</button>
            </div>
            <div class="template">
                <img src={% static 'sandrocurio.jpg' %} alt="Professor 3">
                <h3>Professor Sandro curio</h3>
                <p>Especialista em Química</p>
                <button>Ver Aulas</button>
            </div>
            <div class="template">
                <img src={% static 'sandrocurio.jpg' %} alt="Professor 4">
                <h3>Sandro Curio</h3>
                <p>Especialista em Biologia</p>
                <button>Ver Aulas</button>
            </div>
        </div>
    </main>
</body>
</html>
