{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>LoginWebknowledge</title>
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class = "sobrenos">
        <a href="sobrenos/">Sobre Nós</a>
    </div>





    <div class="container">
        <div class="logo">
            <h1>Webknowledge</h1>
            <img src="static/icone2.png" alt="Logo">
        </div>
        <div class="login-box">
            <form action="#">
                <input type="email" placeholder="Seu nome de usuario" required>
                <input type="password" placeholder="Insira sua senha" required>
                <button type="submit">Entrar</button>
            </form>
            <a href="cadastro/">Ainda não tem uma conta?</a>
        </div>
    </div>
</body>
</html>
